*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    background: linear-gradient(to left bottom,
     blue, lightpink, blue );
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.container{
    width: 90%;
    background-color: rgba(255, 255, 255, .1);
    text-align: center;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
.heading{
    font-weight: 200; 
    font-family: sans-serif;
    font-size: 35px;   
    text-shadow: 0 8px 15px rgba(0, 0, 0, .4);
}
.joke{
    font-weight: 400;
    font-size: 22px;
    font-family: sans-serif;
    margin: 20px 0;
}
.btn{
    width: 250px;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(to left bottom,
     blue, lightpink, blue );
     border: none;
     outline: none;    
}
.btn:hover{
    background: rgba(255, 255, 255, .1);
    color: green;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    transition: all 0.5s ease;
}